@use '../../styles/colors' as *;

a {
  font-weight: 700;

  &:visited {
    color: $faded-purple;
  }
}

.result-item {
  padding: .75rem 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: $white;

  &__title {
    padding: .5rem 0;
    font-size: 1.125rem;
    color: $light-blue;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: .5rem;
    order: -1;
  }

  &__icon {
    height: 1.5625rem;
    background-color: $off-white;
    border-radius: 50%;
  }

  &__page-title {
    font-size: .875rem;
  }

  &__url {
    font-weight: 400;
    font-size: .625rem;
  }

  &__description {
    font-size: .875rem
  }
}