@use '../../styles/breakpoints' as *;
@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;

.result-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;

  &__title {
    padding: .75rem 0;
    font-size: 1.125rem;
    color: $light-blue;
  }

  &__header {
    display: flex;
    align-items: center;
    order: -1;
  }

  &__icon {
    width: 1.6rem;
    height: 1.5625rem;
  }

  &__page-title {
    font-size: .875rem;
  }

  &__url {
    font-weight: 400;
    font-size: .625rem;
  }

  &__description {
    font-size: .875rem
  }
}