@use '../../styles/colors' as *;

.related-searches {
  background-color: $white;
  display: flex;
  flex-direction: column;

  &__heading {
    padding: 1rem;
    font-size: 1.125rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid $gray-six;
    padding: 1rem;
  }
}