// grayscales
$black: #000000;
$off-black: #1a1a1a;
$gray-one: #333333;
$gray-two: #4d4d4d;
$gray-tre: #666666;
$gray-for: #808080;
$gray-fiv: #999999;
$gray-six: #b3b3b3;
$gray-svn: #cccccc;
$gray-ate: #e7e6dd;
$gray-nyn: #e6e6e6;
$off-white: #f2f2f2;
$white: #ffffff;

//rgbs+
$bright-red: #ff0000;
$bright-orange: #ffa500;
$bright-yellow: #ffff00;
$bright-green: #00ff00;
$bright-blue: #00ffff;
$bright-purple: #c491f4;
$bright-pink: #ff1493;


//rgbs^
$light-red: #cc6262;
$light-orange: #ee9138;
$light-yellow: #ebd767;
$light-green: #6ebb6e;
$light-blue: #0077ff;
$light-purple: #9866c6;
$light-pink: #ffe2e7;

//rgbs
$red: #cc0000;
$orange: #ee7600;
$yellow: #ffd700;
$green: #008000;
$blue: #0000ff;
$purple: #8a2be2;
$pink: #ffc0cb;

//<rgbas>
$faded-red: #cc000050;
$faded-orange: #ee760050;
$faded-yellow: #ffd70050;
$faded-green: #00800050;
$faded-blue: #0000ff50;
$faded-purple: #8a2be250;
$faded-pink: #ffc0cb50;

//rgbs-
$dark-red: #8b1a1a;
$dark-orange: #8b4500;
$dark-yellow: #8b8b00;
$dark-green: #006400;
$dark-blue: #000080;
$dark-purple: #4b0082;
$dark-pink: #8b0a50;