// grayscales
$black: #000000;
$steel: #797979;
$iron: #9e9e9e;
$silver: #e7e7e7;
$mercury: #f0f0f0;
$white: #ffffff;

//rgbs+
$bright-red: #ff0000;
$bright-orange: #ffa500;
$bright-yellow: #ffff00;
$bright-green: #00ff00;
$bright-blue: #00ffff;
$bright-purple: #c491f4;
$bright-pink: #ff1493;

//rgbs
$red: #cc0000;
$orange: #ee7600;
$yellow: #ffd700;
$green: #008000;
$blue: #0000ff;
$purple: #8a2be2;
$pink: #ffc0cb;

//rgbs-
$dark-red: #8b1a1a;
$dark-orange: #8b4500;
$dark-yellow: #8b8b00;
$dark-green: #006400;
$dark-blue: #000080;
$dark-purple: #4b0082;
$dark-pink: #8b0a50;