@use '../../styles/colors' as *;

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  background-color: $white;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  &__heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__back {
    width: 2rem;
    height: 2rem;
    background: url('../../assets/icons/back.svg') no-repeat;
    background-size: cover;
    border: none;

    &-text {
      display: none;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
  }

  &__done {
    color: $light-blue;
    border: none;
  }

  &__nav {

    &-list {
      display: flex;
      overflow-x: scroll;
      margin-left: 1rem;

      &-item {
        flex-shrink: 0;
        color: $gray-tre;
        padding-right: 2rem;
        cursor: pointer;
        display: flex;

        & > a.active {
          border-bottom: 2px solid $light-blue;
          padding-bottom: .25rem;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__link {
      font-size: .875rem;
    }
  }

  &__searchbar {
    display: flex;
    justify-content: center;
  }

  &__searchfield {
    font-size: .875rem;
    padding-left: 3rem;
    border-radius: .625rem;
    height: 2.5rem;
    width: 85%;
    margin-top: .5rem;
    background-color: $off-white;
    color: $gray-svn;
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 2px solid $gray-tre;

    &-heading {
      color: $gray-tre;
      padding: 1rem 1rem 0;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}