@use '../../styles/breakpoints' as *;
@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;

.header {
  padding: .5rem 0;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-bottom: 2px solid $silver;

  &__assets {
    margin: 0 1rem;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-icon {
    width: 1rem;
    position: relative;
    bottom: .1rem;

    &--search {
      left: 1rem;
      bottom: 0;
    }

    &--cancel {
      right: 1rem;
      bottom: 0;
    }
  }

  &__logo {
    width: 4.5rem;
  }

  &__avatar {
    background-color: $silver;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  &__searchbar {
    margin: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1.5625rem;
    justify-content: space-between;
    box-shadow: .0625rem .3125rem .46875rem .0625rem rgba($color: $steel, $alpha: 0.15);
  }

  &__searchfield {
    font-size: .875rem;
    height: 2.5rem;
    width: 100%;
    padding-left: 2rem;
  }

  &__modes {
    margin-left: 1rem;
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__mode {
    flex-shrink: 0;
    background-color: $white;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .125rem;
    font-weight: 400;
    padding: .5rem;
    border: 1.5px solid $silver;
    border-radius: 3.125rem;

    &--icon {
      width: 1.25rem;
      margin-right: .25rem;
    }
  }

  &__tool {
    margin: .375rem 0;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    align-items: center;
    padding: 0 1.5rem;
    color: $iron;
    flex-shrink: 0;

    &--mid {
      padding: 0 1rem;
      border-left: .09375rem solid $silver;
      border-right: .09375rem solid $silver;
    }
  }
}