*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button, input, select, textarea, ::placeholder {
  font: inherit;
  color: inherit;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}